body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1884px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:303px;
  top:43px;
  width:110px;
  height:60px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:60px;
}
#u1 {
  position:absolute;
  left:2px;
  top:22px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:315px;
  top:51px;
  width:88px;
  height:43px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:43px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1373px;
  top:23px;
  width:-990px;
  height:10px;
}
#u4_seg0 {
  position:absolute;
  left:-1000px;
  top:-10px;
  width:1004px;
  height:20px;
}
#u4_seg1 {
  position:absolute;
  left:-1000px;
  top:-10px;
  width:20px;
  height:24px;
}
#u5 {
  position:absolute;
  left:-550px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1373px;
  top:36px;
  width:-900px;
  height:27px;
}
#u6_seg0 {
  position:absolute;
  left:-910px;
  top:-10px;
  width:914px;
  height:20px;
}
#u6_seg1 {
  position:absolute;
  left:-910px;
  top:-10px;
  width:20px;
  height:41px;
}
#u7 {
  position:absolute;
  left:-514px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1383px;
  top:46px;
  width:270px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:312px;
  top:170px;
  width:971px;
  height:286px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:971px;
  height:286px;
}
#u11 {
  position:absolute;
  left:2px;
  top:135px;
  width:967px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:317px;
  top:281px;
  width:944px;
  height:175px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:944px;
  height:175px;
}
#u13 {
  position:absolute;
  left:2px;
  top:80px;
  width:940px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:319px;
  top:279px;
  width:332px;
  height:16px;
  font-size:14px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:319px;
  top:305px;
  width:932px;
  height:426px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:932px;
  height:426px;
}
#u17 {
  position:absolute;
  left:2px;
  top:205px;
  width:928px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:571px;
  top:345px;
  width:547px;
  height:293px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:293px;
}
#u19 {
  position:absolute;
  left:2px;
  top:138px;
  width:543px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:807px;
  top:466px;
  width:124px;
  height:24px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:24px;
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:311px;
  top:223px;
  width:949px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:945px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:630px;
  top:232px;
  width:333px;
  height:31px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:31px;
}
#u25 {
  position:absolute;
  left:2px;
  top:4px;
  width:329px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:362px;
  top:232px;
  width:174px;
  height:30px;
  color:#666666;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:4px;
  width:170px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:482px;
  top:328px;
  width:659px;
  height:336px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:659px;
  height:336px;
}
#u29 {
  position:absolute;
  left:2px;
  top:160px;
  width:655px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:635px;
  top:354px;
  width:420px;
  height:57px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  text-align:left;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:57px;
}
#u31 {
  position:absolute;
  left:2px;
  top:19px;
  width:416px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:731px;
  top:490px;
  width:120px;
  height:21px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:21px;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:308px;
  top:165px;
  width:159px;
  height:46px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-size:20px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:46px;
}
#u35 {
  position:absolute;
  left:2px;
  top:10px;
  width:155px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:551px;
  top:437px;
  width:350px;
  height:134px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:134px;
}
#u37 {
  position:absolute;
  left:2px;
  top:59px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:568px;
  top:446px;
  width:102px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:630px;
  top:441px;
  width:301px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u41 {
  position:absolute;
  left:545px;
  top:484px;
  width:102px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:630px;
  top:479px;
  width:301px;
  height:25px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u44 {
  position:absolute;
  left:741px;
  top:591px;
  width:100px;
  height:40px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u45 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:320px;
  top:173px;
  width:160px;
  height:36px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-size:18px;
  text-align:left;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:36px;
}
#u47 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:318px;
  top:208px;
  width:158px;
  height:10px;
}
#u48_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_end {
  position:absolute;
  left:141px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_line {
  position:absolute;
  left:0px;
  top:4px;
  width:158px;
  height:3px;
}
#u49 {
  position:absolute;
  left:558px;
  top:350px;
  width:70px;
  height:70px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u50 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:630px;
  top:531px;
  width:100px;
  height:40px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u52 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:1864px;
  top:443px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:1574px;
  top:495px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u56 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:1429px;
  top:445px;
  width:213px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:1429px;
  top:497px;
  width:145px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:1404px;
  top:497px;
  width:15px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u62 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:1599px;
  top:445px;
  width:224px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:1574px;
  top:445px;
  width:15px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u66 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:1404px;
  top:445px;
  width:15px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u68 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:1394px;
  top:451px;
  width:-430px;
  height:0px;
}
#u69_seg0 {
  position:absolute;
  left:-440px;
  top:-10px;
  width:444px;
  height:20px;
}
#u69_seg1 {
  position:absolute;
  left:-440px;
  top:-4px;
  width:20px;
  height:14px;
}
#u70 {
  position:absolute;
  left:-265px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:1394px;
  top:501px;
  width:-430px;
  height:-10px;
}
#u71_seg0 {
  position:absolute;
  left:-440px;
  top:-10px;
  width:444px;
  height:20px;
}
#u71_seg1 {
  position:absolute;
  left:-440px;
  top:-14px;
  width:20px;
  height:24px;
}
#u72 {
  position:absolute;
  left:-270px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:1394px;
  top:675px;
  width:180px;
  height:32px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:32px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:74px;
  top:431px;
  width:580px;
  height:20px;
}
#u75_seg0 {
  position:absolute;
  left:-10px;
  top:-20px;
  width:20px;
  height:24px;
}
#u75_seg1 {
  position:absolute;
  left:-10px;
  top:-20px;
  width:600px;
  height:20px;
}
#u75_seg2 {
  position:absolute;
  left:570px;
  top:-20px;
  width:20px;
  height:44px;
}
#u76 {
  position:absolute;
  left:250px;
  top:-18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:184px;
  top:471px;
  width:470px;
  height:20px;
}
#u77_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:484px;
  height:20px;
}
#u77_seg1 {
  position:absolute;
  left:460px;
  top:-10px;
  width:20px;
  height:34px;
}
#u78 {
  position:absolute;
  left:195px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:24px;
  top:452px;
  width:140px;
  height:32px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:32px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:456px;
  top:750px;
  width:665px;
  height:75px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:75px;
}
#u82 {
  position:absolute;
  left:2px;
  top:30px;
  width:661px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:710px;
  top:760px;
  width:60px;
  height:20px;
  font-size:12px;
  color:#666666;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u84 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:496px;
  top:790px;
  width:580px;
  height:20px;
  color:#666666;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:20px;
}
#u86 {
  position:absolute;
  left:2px;
  top:2px;
  width:576px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:280px;
  top:750px;
  width:190px;
  height:90px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:90px;
}
#u88 {
  position:absolute;
  left:2px;
  top:37px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:1090px;
  top:750px;
  width:190px;
  height:90px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:90px;
}
#u90 {
  position:absolute;
  left:2px;
  top:37px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:280px;
  top:820px;
  width:1000px;
  height:90px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:90px;
}
#u92 {
  position:absolute;
  left:2px;
  top:37px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:458px;
  top:762px;
}
#u93_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u93_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u94 {
  position:absolute;
  left:25px;
  top:31px;
  width:580px;
  height:20px;
  color:#666666;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:20px;
}
#u95 {
  position:absolute;
  left:2px;
  top:2px;
  width:576px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:30px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:30px;
}
#u97 {
  position:absolute;
  left:2px;
  top:7px;
  width:626px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:80px;
  top:5px;
  width:80px;
  height:16px;
  text-align:center;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:160px;
  top:5px;
  width:10px;
  height:16px;
}
#u100_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u100_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u100_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u101 {
  position:absolute;
  left:172px;
  top:5px;
  width:80px;
  height:16px;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:253px;
  top:5px;
  width:10px;
  height:16px;
}
#u103_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u103_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u103_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u104 {
  position:absolute;
  left:263px;
  top:5px;
  width:80px;
  height:16px;
  text-align:center;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:342px;
  top:5px;
  width:10px;
  height:16px;
}
#u106_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u106_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u106_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u107 {
  position:absolute;
  left:353px;
  top:5px;
  width:80px;
  height:16px;
  text-align:center;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:432px;
  top:5px;
  width:10px;
  height:16px;
}
#u109_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u109_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u109_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u110 {
  position:absolute;
  left:442px;
  top:5px;
  width:80px;
  height:16px;
  text-align:center;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:1068px;
  top:62px;
  width:72px;
  height:20px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-size:14px;
  color:#999999;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
}
#u112_img.mouseOver {
}
#u112.mouseOver {
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:977px;
  top:62px;
  width:73px;
  height:20px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u114_img.mouseOver {
}
#u114.mouseOver {
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:923px;
  top:62px;
  width:54px;
  height:20px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-size:14px;
  color:#999999;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u116_img.mouseOver {
}
#u116.mouseOver {
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:1158px;
  top:62px;
  width:72px;
  height:20px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-size:14px;
  color:#999999;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
}
#u118_img.mouseOver {
}
#u118.mouseOver {
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:631px;
  top:581px;
  width:100px;
  height:57px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:57px;
}
#u121 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:1384px;
  top:681px;
  width:-684px;
  height:-91px;
}
#u122_seg0 {
  position:absolute;
  left:-694px;
  top:-10px;
  width:698px;
  height:20px;
}
#u122_seg1 {
  position:absolute;
  left:-694px;
  top:-95px;
  width:20px;
  height:105px;
}
#u123 {
  position:absolute;
  left:-438px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
