
h1,h2,h3,h4,h5,ul,li,dd,dl{margin:0;padding:0;font-weight:500;}
a{cursor:pointer;outline:none;}
html,body{margin:0;padding:0;}
*{}
html,body{font-size:14px;font-family:microsoft yahei;background-color:#001a35;}
@font-face {
  font-family: 'FZLTCHK'; 
  src: url('FZLTCHK.TTF'); 
}

/* top */
.er_div1{position:relative;height:1240px;background:url("../images/langrun_img/er_div1.jpg") no-repeat center center;}
.er_div1  .red_box_btn{margin:0 auto;display:block;width:281px;height:91px;background:url("../images/langrun_img/redBox_btn.png") no-repeat center center;}
.er_div1 .red_box{position:absolute;left:0;right:0;text-align:center;top:696px;}
.er_div1  .tip{position:absolute;left:0;right:0;text-align:center;bottom:88px;font-size:26px;}
.er_div1  .tip h4{color:#fff;margin-left:318px;}
.er_div1  .tip p{display:inline-block;color:#fffefd;margin-left:318px;margin-top:10px;font-size:20px;line-height:37px;}

.er_div2{font-size:22px;position:relative;height:1062px;background:url("../images/langrun_img/er_div2.jpg") no-repeat center center;}
.er_div2 .tip{position:absolute;left:0;right:0;text-align:center;bottom:53px;font-size:26px;}
.er_div2  .tip p{color:#001a35;margin:0 auto;width:620px;font-size:22px;line-height:37px;}
.er_div2 .tip span.color{color:#d2122b;}

.er_div3{color:#3e3f3f;font-size:22px;position:relative;height:1348px;background:url("../images/langrun_img/er_div3.jpg") no-repeat center center;}
.er_div3  .tip{position:absolute;left:0;right:0;text-align:center;top:142px;font-size:26px;}
.er_div3  .tip p{display:block;width:831px;text-align:center;margin:0 auto;font-size:22px;line-height:37px;}
.er_div3  .tip span.color{color:#d6000f;font-size:26px;display:inline-block;margin-bottom:8px;}
.er_div3  .tip p.p1  i{font-style:normal;color:#fac43d;display:inline-block;width:30px;height:30px;line-height:30px;text-align:center;background:url('../images/langrun_img/i_bg.png') no-repeat center center;}
.er_div3  .tip p.p1{text-align:left;color:#3e3f3f;}
.er_div3  .tip p.p2{margin-top:450px;}
.er_div3  .tip  .p2 span.color1{display:block;color:#d6000f;font-size:26px;line-height:50px;text-align:left;margin-left:40px;}
.er_div3  .tip  .p2 span.color2{display:block;color:#3f3f3f;font-size:26px;text-align:left;line-height:50px;margin-left:40px;}
.er_div3  .tip  .p2 span.color3{display:inline-block;color:#3f3f3f;font-size:30px;line-height:100px;}
.er_div3  .tip  .p2  i.style{display:inline;font-style:normal;font-size:40px;color:#d6000f;} 
.er_div3  .tip  .p2 span.color4{font-size:24px;color:#d6000f;}
.er_div3  .tip  .p2 span.color5{font-size:24px;color:#3e3f3f;}

.er_div4{font-size:20px;position:relative;height:886px;background:url("../images/langrun_img/er_div4.jpg") no-repeat center center;}
.er_div4 .tip{position:absolute;left:0;right:0;text-align:center;top:272px;font-size:26px;}
.er_div4  .tip p{padding-left:220px;text-align:left;color:#28425a;margin:0 auto;width:820px;font-size:22px;line-height:37px;}
.er_div4  .tip p  span.color{color:#f15a25;}
.er_div4  .tip p  i{color:#fac43d;display:inline-block;width:29px;height:29px;line-height:29px;text-align:center;background:url('../images/langrun_img/i_bg.png') no-repeat center center;}



