/*index-main*/
.ui-index-main{
	background:#f8f8f8;/*haitao #f8f8f8*/
}
.index-part-list{
	margin:10px 0px;
	background:#fff;
	padding:10px 0px;
}
.index-part-list .index-part-item{
	float:left;
	width:33%;
	text-align:center;
	word-break:break-all;
	word-wrap:break-word;
}
.index-part-list .index-part-item a{
	display:block;
	padding:5px 0px;
	width:100%;
	height:100%;
	border-right:1px solid #f8f8f8;/*haitao #ececec*/
}
.index-part-list .index-part-item:active{
	background:#efefef;
}
.index-part-list .index-part-item:nth-child(2){
	width:34%;
}
.index-part-list .index-part-item:last-child a{
	border-right:none;
}
.index-part-list .index-part-item i{
	display:inline-block;
	width:40px;
	height:40px;
	margin-top:5px;
}
.index-part-list .index-part-item i img{
	width:40px;
	height:40px;
	font-size:0px;
}
.index-part-list .index-part-item p{
	margin-top:3px;
	color:#333;
	font-size:14px;
	
}
.index-part-list1{
	background:#fff;
}
.index-part-list1 .index-part-item{
	width:50%;
	float:left;
	word-break:break-all;
	word-wrap:break-word;
	
}
.index-part-list1 .index-part-item a{
	display:block;
	padding:30px 18px;
	height:50px;
	overflow:hidden;
	border-right:1px solid #f8f8f8;/*haitao #ececec*/
	border-bottom:1px solid #f8f8f8;/*haitao #ececec*/
}
/*.index-part-list1 .index-part-item a:active{
	background:#efefef;
}*/
.index-part-list1 .index-part-item:nth-child(2) a{
	border-right:none;
}
.index-part-list1 .index-part-item i{
	float:right;
	display:inline-block;
	width:40px;
	height:40px;
	margin-left:5px;
	margin-top:6px;
	
}
.index-part-list1 .index-part-item i img{
	width:40px;
	height:40px;
	font-size:0px;
}
.index-part-list1 .index-part-item h1{
	font-size:14px;
	color:#000;
}
.index-part-list1 .index-part-item p{
	font-size:12px;
	color:#939393;
	margin-top:0px;
	line-height:16px;
}

/*fixed-nav*/
.ui-nav{
	position:fixed;
	left:0px;
	bottom:0px;
	width:100%;
	background:#fff;
	border-top:1px solid #ececec;
}
.ui-nav .ui-nav-ul{
	padding:0px 5px;
}
.ui-nav .ui-nav-ul li{
	float:left;
	width:18%;
}
.ui-nav .ui-nav-ul li.nav-middle{
	position:relative;
	width:28%;
	height:47px;
}
.ui-nav .ui-nav-ul li.nav-middle a{
	position:absolute;
	top:-5px;
	width:100%;
	background:#61dd43;
	height:50px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.ui-nav .ui-nav-ul li.nav-middle a:active{
	background:#50bd36;
}
.ui-nav .ui-nav-ul li.nav-middle .nav-ico{
	margin-top:12px;
}
.ui-nav .ui-nav-ul li a{
	display:block;
	text-align:center;
	padding:5px 0px 2px;
}
.ui-nav .ui-nav-ul li a:active p{
	color:#ffd04d;
}
.ui-nav .ui-nav-ul #li_0 a:active .nav-ico{
	background-position:0px -35px;
}
.ui-nav .ui-nav-ul #li_1 a:active .nav-ico{
	background-position:-50px -91px;
}
.ui-nav .ui-nav-ul #li_3 a:active .nav-ico{
	background-position:-200px -91px;
}
.ui-nav .ui-nav-ul #li_4 a:active .nav-ico{
	background-position:-250px -91px;
}
.ui-nav .ui-nav-ul li a p{
	font-size:10px;
	color:#d7d7d7;
	margin-top:2px;
	line-height:16px;
}
.ui-nav .ui-nav-ul li.selected a .nav-ico{
	background-position:0px -35px;
}
.ui-nav .ui-nav-ul li.selected a p{
	color:#61dd43;
}
/*sub-main*/
.personal-main{
	padding-bottom:30px;
}
.personal-top{
	height:200px;
	background:url(../images/personal-top-bg.jpg?1) left top no-repeat;
	background-size:100% 100%;
	overflow:hidden;
}
.personal-top .user-photo-img{
	margin:0 auto;
	margin-top:60px;
	width:70px;
	height:70px;
	border-radius:50%;
	overflow:hidden;
	border:2px solid rgba(255,255,255,0.8);
}
.personal-top .user-photo-img img{
	width:100%;
	height:100%;
	font-size:0px;
}
.personal-top .user-name{
	font-size:16px;
	color:#fff;
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
	text-indent:14px;
}
.personal-top .user-name .common-ico{
	margin-left:3px;
	margin-bottom:2px;
}
.ui-item-box{
	margin-top:15px;
	border-top:1px solid #f2f2f2;
	border-bottom:1px solid #f2f2f2;
}
.ui-item-box li{
	padding:0px 15px;
	background:#fff;
}
.ui-item-box li:active{
	background:#efefef;
}
.ui-item-box li a{
	position:relative;
	display:block;
	height:45px;
	line-height:45px;
	color:#666;
	font-size:16px;
	border-bottom:1px solid #f2f2f2;
}
.ui-item-box li a .person-ico{
	margin-right:10px;
	margin-bottom:3px;
}
.ui-item-box li:last-child a{
	border-bottom:none;
}
.ui-item-box li a .trigger{
	position:absolute;
	right:5px;
	top:17px;
	border-color:#adadad;
	border-width:1px;
	width:10px;
	height:10px;
	-webkit-transform:rotate(135deg);
	-moz-transform:rotate(135deg);
	-o-transform:rotate(135deg);
	-ms-transform:rotate(135deg);
	transform:rotate(135deg);
}

/*login-regist-main*/
.login-logo{
	margin:50px 0px;
	text-align:center;
	height:50px;
}
.login-logo img{
	width:170px;
	height:auto;
}
/*forget-password-step*/
.f-g-step-box{
	padding:10px 35px;/*haitao 15px 35px*/
}
.f-g-step-div{
	position:relative;
	height:70px;
}
.f-g-step-box .step-line{
	position:absolute;
	top:50%;
	margin-top:-3px;
	height:5px;
	width:100%;
	font-size:0px;
	z-index:2;
	background:#e2e2e2;
}
.f-g-step-box .step-line.step2-1{
	width:33%;
	background:#4cc51a;
}
.f-g-step-box .step-line.step2{
	width:50%;
	background:#4cc51a;
}
.f-g-step-box .step-line.step3-1{
	width:66%;
	background:#4cc51a;
}
.f-g-step-box .step-line.step3{
	width:100%;
	background:#4cc51a;
}
.f-g-step-box .step-item {
	position:absolute;
	top:22px;/*haitao 16px*/
	text-align:center;
	z-index:3;
}
.f-g-step-box .step-item.active{
	
}
.f-g-step-box .step-item.active i{
	background:#4cc51a;
	color:#fff;
}
.f-g-step-box .step-item.active p{
	color:#4cc51a;
}
.f-g-step-box .step-item.left{
	left:-16px;
}
.f-g-step-box .step-item.middle-left{
	left:33%;
	margin-left:-17px;
}
.f-g-step-box .step-item.middle{
	left:50%;
	margin-left:-25px;
}
.f-g-step-box .step-item.middle-right{
	left:66%;
	margin-left:-28px;
}
.f-g-step-box .step-item.right{
	right:-5px;
}
.f-g-step-box .step-item i{
	display:inline-block;
	width:26px; /*haitao 35px*/
	height:26px; /*haitao 35px*/
	line-height:26px;/*haitao 35px*/
	font-size:16px;/*haitao 20px*/
	font-weight:inherit;/*haitao bold*/
	color:#999999;
	background-color:#e2e2e2;
	border-radius:26px; /*haitao 35px*/
	overflow:hidden;
}
.f-g-step-box .step-item p{
	font-size:12px;  /*haitao 16px*/
	color:#999999;
	margin-top:5px;
}
.f-g-step-box.step-type1{
	height:105px;
	background:#f8f8f8;
	padding:10px 35px;
}
.f-g-step-box.step-type1 .step-item{
	top:22px;
}
.f-g-step-box.step-type1 i{
	width:26px;
	height:26px;
	line-height:26px;
	border-radius:26px;
	font-size:16px;
	overflow:hidden;
	font-weight:inherit;
}
.f-g-step-box.step-type1 p{
	font-size:12px;/*haitao 14px*/
}
.ui-banner{
	font-size:0px;
}
.ui-banner img{
	width:100%;
	height:auto;
}
.staging-fun-box{
	position:relative;
}
.staging-fun-box .staging-fun-item{
	display:block;
	float:left;
	width:50%;
	text-align:center;
	background:#fff;
}
.staging-fun-box .staging-fun-item a{
	display:block;
	padding:15px 0px;
	border-right:1px solid #f8f8f8;/*haitao #ececec*/
	border-bottom:1px solid #f8f8f8;/*haitao #ececec*/
}
.staging-fun-box .staging-fun-item  a i img{
	width:40px;
	height:40px;
	font-size:0px;
}
.staging-fun-box .staging-fun-item a:active{
	background:#efefef;
}
.staging-fun-box .staging-fun-item a p{
	font-size:14px;/*haitao 12px*/
	margin-top:5px;
	color:#333;
}
.staging-fun-box .staging-fun-item:nth-child(2) a,.staging-fun-box .staging-fun-item:nth-child(4) a{
	border-right:none;
}
.cal-btn-box{
	position:absolute;
	left:50%;
	margin-left:-56px;
	top:73px;
	width:105px;
	border:1px solid #ececec;
	border-radius:8px;
	background:#fff;
	padding:3px;
}
.cal-btn-box-btn{
	height:35px;
	line-height:35px;
	display:inline-block;
	border-radius:5px;
	background:#4ec51b;
	color:#fff;
	font-size:18px;
	text-align:center;
	width:100%;
}
.cal-btn-box-btn:active{
	background:#46c128;
}
.staging-img{
	padding:25px 0px;
	background:#fff;
	text-align:center;
	margin-top:25px;
}
.staging-img img{
	width:100%;
}
.cal-result{
	padding:0px 15px 15px;
	background:#fff;
}
.cal-result-box .cal-result-item{
	font-size:16px;
	padding:10px 0px;
	border-bottom:1px dashed #f2f2f2;
}
.cal-result-box .cal-result-item .cal-result-item-part{
	float:left;
	text-align:center;
	width:50%;
	color:#555;
}
.cal-result-box .cal-result-item .cal-result-item-part .high-light{
	font-size:18px;
}
.cal-result-box .cal-result-item .cal-result-item-part em{
	padding:0px 5px;
}
.choose-goods{
	margin-top:35px;
}
.choose-goods .choose-goods-item{
	position:relative;
	width:260px;
	height:67px;
	border:1px solid #ddd;
	margin:25px auto;
	text-align:center;
}
.choose-goods .choose-goods-item img{
	width:160px;
	height:auto;
	margin-top:15px;
}
.choose-goods .choose-goods-item.active{
	border-color:#4cc51a;
	box-shadow:0px 0px 3px rgba(97,221,67,0.7);
}
.choose-goods .choose-goods-item .select-tag{
	display:none;
	position:absolute;
	left:50%;
	bottom:-15px;
	margin-left:-15px;
	width:30px;
	height:30px;
	background:url(../images/brand-select-tag.png) left top no-repeat;
	background-size:100% 100%;
}
.choose-goods .choose-goods-item.active .select-tag{
	display:block;
}
.staging-tab {
	position:relative;
	border-bottom:1px solid #f2f2f2;
	display:-moz-box;
    display:-webkit-box;
    display:box;
	background:#fff;
	padding:0px 5px;
}
.staging-tab .staging-tab-item{
	-moz-box-flex:1;
    -webkit-box-flex:1;
    box-flex:1;
	text-align:center;
	font-size:14px;
	height:40px;
	line-height:40px;
	color:#111;
	border-bottom:2px solid #fff;
}
.staging-tab .staging-tab-item a{
	display:block;
	height:38px;
	line-height:38px;
	color:#111;
}
.staging-tab .staging-tab-item.selected{
	color:#4cc51a;
	border-bottom:2px solid #4cc51a;
}
.staging-tab .staging-tab-item.selected a{
	color:#4cc51a;
}
.staging-tab .staging-tab-item:active{
	background:#efefef;
	border-bottom:2px solid #efefef;
}
.other-item{
	position:relative;
	padding-right:15px;
	height:100%;
}
.other-item .common-select-trigger{
	right:10px;
	top:14px;
}
.upload-item{
	padding:15px;
	border-bottom:1px solid #f2f2f2;
}
.upload-item .upload-inf-title em{
	color:#e60012;
	margin-right:5px;
}
.upload-item .upload-inf-title span{
	font-size:12px;
	color:#666;
}
.upload-item .upload-inf-title{
	font-size:14px;
	color:#333;
	margin-bottom:15px;
}
.upload-item .upload-add-img{
	display:inline-block;
	vertical-align:middle;
	margin-right:5px;
	width:60px;
	height:60px;
	background:url(../images/add-img.jpg) left top no-repeat;
	background-size:100% 100%;
}
.uploaded-img{
	position:relative;
	display:inline-block;
	vertical-align:middle;
	margin-right:5px;
	width:60px;
	height:60px;
}
.uploaded-img .upload-img-close{
	position:absolute;
	width:14px;
	height:14px;
	background:#000;
	right:-7px;
	top:-7px;
	font-size:0px;
	background:url(../images/close-btn.png) left top no-repeat;
	background-size:100% 100%;
	opacity:0.7;
}
.uploaded-img img{
	width:100%;
	height:100%;
}
.coop-box{
	margin:10px 0px;
}
.coop-box img{
	width:100%;
}
.ask-main{
	padding:0px 15px;
}
.ask-item{
	padding:15px 0px;
	border-bottom:1px dashed #f2f2f2;
}
.ask-item h1{
	font-size:16px;
	color:#333;
	line-height:20px;
	padding:8px 0px;
}
.ask-item .ans-text{
	font-size:14px;
	color:#999;
}
.am-slider{
	min-height:150px;
}
.card-list-ul{
	margin:15px 15px;
}
.card-list-ul li{
	position:relative;
	margin-bottom:10px;
}
.card-list-ul li .card-item{
	display:block;
	padding:10px;
	background:#fff;
	border:1px solid #eee;
	border-radius:5px;
}
.card-list-ul li .bank-card-logo{
	height:30px;
	width:auto;
}
.card-list-ul li .card-number{
	text-align:right;
	font-size:20px;
	margin-top:10px;
	color:#333;
}
.card-list-ul li .close-ico{
	display:none;
	position:absolute;
	right:-5px;
	top:-5px;
	font-size:0px;
	width:20px;
	height:20px;
	background:url(../images/close-btn.png) left top no-repeat;
	background-size:100% 100%;
	opacity:0.7;
}
.card-list-ul.edit-state li{
	-webkit-animation-name: tada;
 	animation-name: tada;
	-webkit-transform-origin:center center;
	-webkit-animation-duration: .15s;
	animation-duration: 0.15s;
	-webkit-animation-timing-function: ease-in; 
	animation-timing-function: ease-in;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.card-list-ul.edit-state li .close-ico{
	display:block;
}
.other-choose-list{
	display:none;
	position:absolute;
	top:43px;
	left:0px;
	width:100%;
	z-index:6;
	box-shadow:0px 4px 8px rgba(0,0,0,0.2);
}
.other-choose-list dd a{
	display:block;
	padding:0px 15px;
	font-size:14px;
	height:40px;
	line-height:40px;
	background:#fff;
	border-bottom:1px solid #f2f2f2;
	text-align:right;
}
.other-choose-list dd a:active{
	background:#efefef;
}
.order-list{
}
.order-list-ul li{
	background:#fff;
	margin:10px 0px;
}
.order-list-ul li .order-item-top{
	height:40px;
	line-height:40px;
	font-size:14px;
	color:#111;
	border-bottom:1px solid #f2f2f2;
	padding:0px 15px;
}
.order-list-ul li .order-item-top .order-type-name{
	font-size:16px;
}
.order-list-ul li .order-item-box{
	padding:10px 15px;
}
.order-list-ul li .order-item-top .common-ico{
	margin-right:5px;
	margin-bottom:2px;
}
.order-list-ul li .order-state{
	float:right;
}
.order-list-ul li .order-state.state-green{
	color:#4cc51a;
}
.order-list-ul li .order-state.state-grey{
	color:#999;
}
.order-list-ul li .order-state.state-orange{
	color:#e4600b;
}
.order-item-box .box-item{
	display:-moz-box;
    display:-webkit-box;
    display:box;
}
.order-item-box .box-item .box-item-text{
	-moz-box-flex:1;
    -webkit-box-flex:1;
    box-flex:1;
	font-size:15px;
	color:#555;
	margin:5px 0px;
}
.order-item-box .box-item .box-item-text span{
	padding:0px 5px;
}
.order-item-box .box-item .box-item-text i{
	margin-right:5px;
	margin-bottom:3px;
}
.order-item-btn-box{
	padding:10px 15px;
	border-top:1px solid #f2f2f2;
	text-align:right;
	
}
.item-btn{
	display:inline-block;
	vertical-align:middle;
	border:1px solid #f2f2f2;
	color:#999;
	font-size:14px;
	margin:0px 5px;
	padding:3px 10px;
	border-radius:25px;
}
.item-btn.item-btn-green{
	color:#4cc51a;
	border:1px solid #4cc51a;
	
}
.item-btn.item-btn-red{
	color:#c30;
	border:1px solid #c30;
}

.index-part-div1 {background-color:#fefdf4;}
.index-part-div1 .ipd_left{float:left;width:32%;display:inline-block;text-align:center;}
.index-part-div1 .ipd_right{float:left;width:68%;display:inline-block;}
.index-part-div1 .ipd_right .h4{font-size:16px;color:#1b4010;margin:10px 0 6px 0;}
.index-part-div1 .ipd_right .ul li{display:inline-block;float:left;font-size:12px;line-height:18px;color:#767676;}
.index-part-div1 .ipd_right .ul li.li1{width:21%;}
.index-part-div1 .ipd_right .ul li.li2{width:32%;}

.ui-nav{background:#1a191f none repeat scroll 0 0;}
.ui-nav .ui-nav-ul li.nav-middle a{left:0;right:0;width:83px;background:url('../images/ipd_bimg.png') no-repeat center 0px;background-size:cover;top:-15px;margin:0 auto;}
.ui-nav .ui-nav-ul li a p{color:#61dd43;}
.ui-nav .ui-nav-ul li.selected a p{color:#ffd04d;}

.nav-ico{height:23px;}
.nav-ico.ico-home{background-position:0 -91px;}

.ui-nav .ui-nav-ul li.selected a .nav-ico{background-position:0 -35px;}
.nav-ico.ico-service{background-position:-250px -36px;}
.ui-nav .ui-nav-ul #li_1.selected a .nav-ico{background-position:-49px -90px;}

.staging_div1{background-color:#fff;border-top:2px solid #f8f8f8;border-bottom:2px solid #f8f8f8;}
.staging_div1 .ul{margin:30px 0;overflow:hidden;}
.staging_div1 .ul li{font-size:16px;color:#1a191f;float:left;display:inline-block;width:33%;text-align:center;}
.staging_div1 .ul li img{margin-bottom:10px;}
.index-part-list{margin:0;}

.staging_div2{background-color:#fff;overflow:hidden;}
.staging_div2 .h41 img{max-width:100%;width:100%;margin:10px 0 30px;}
.staging_div2 .ul1{font-size:13px;overflow:hidden;text-align:center;color:#546d1c;}
.staging_div2 .ul1 .width{max-width:60%;}
.staging_div2 .ul1 li{float:left;display:inline-block;width:50%;text-align:center;}
.staging_div2 .ul2 .li1{text-align:center;}
.staging_div2 .ul2 .li1 p{text-align:right;margin-right:15%;}
.staging_div2 .ul2 .li2 p{text-align:left;margin-left:15%;}
.staging_div2 .ul2 .li2{text-align:center;}
.staging_div2 .ul2{font-size:12px;color:#6f6e6e;line-height:18px;}
.staging_div2 .ul2 li{float:left;display:inline-block;width:50%;text-align:center;}
.staging_div2 .ul2 li p{margin-bottom:10px;}
