@charset "UTF-8";
@charset "utf-8";
body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,blockquote,p {
  margin: 0;
  padding: 0;
  resize: none;
}
img {
  border: 0;
}
ul{
	list-style:none;
}
address,caption,cite,code,dfn,em,th,var,optgroup,b,i,h1 {
  font-style: inherit;
  font-weight: inherit;
}
ul {
  list-style: none;
}
h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,q:after {
  content: '';
}
abbr,acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: baseline;
}
html{
	background-color:#fff6e5;/*haitao #f8f8f8*/
	font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;	
}
html,body{overflow:auto;overflow-x:hidden;}
.ui_main{font-family:Microsoft YaHei;font-size:16px;}
.ui_main .top{position:relative;background-color:#fff6e5;}
.ui_main .top .top_img{max-width:100%;}
.ui_main .top .top_row{position:absolute;top:5%;left:30%;width:10%;}
.ui_main .middle{height:425px;padding-top:20px;position:relative;background:url('../images/guide_middle_bg.png') no-repeat center top;background-size:310px auto;background-color:#fff6e5;}
.ui_main .middle .p1{text-align:center;left:0;right:0;font-size:15px;position:absolute;top:80px
;line-height:25px;}
.ui_main .middle .p2{text-align:center;margin:0 auto;left:0;right:0;font-size:14px;position:absolute;top:170px;line-height:19px;}
.ui_main .middle .p2 .p_text{text-align:left;width:266px;margin:0 auto;max-width:85%;}
.ui_main .middle .p2 .title{font-size:17px;font-weight:600;line-height:40px;text-align:center;}
.ui_main .middle .color{color:#ef1a41;}
.ui_main .bottom{padding-top:50px;background:url('../images/row3.png') no-repeat -50% 24px;background-color:#fdf0d7;background-size:30% auto;position:relative;}
.ui_main .bottom .bottom_img{max-width:100%;}
.ui_main .bottom .row2{width:15%;position:absolute;top:0px;left:-20%;}
/* .ui_main .bottom .row3{width:30%;position:absolute;top:25px;left:-20%;} */
.ui_main .file_div{}
.ui_main .file_div .hill{max-width:100%;vertical-align: bottom;}
.ui_main .file_div .messge_text{height:195px;background:url('../images/file_div_bg.png') no-repeat center top;background-size:300px auto;background-color:#fdf0d7;color:#5c2e0d;font-size:15px;line-height:22px;}
.ui_main .file_div .messge_text h4{margin:9px 0 16px;display:inline-block;width:100%;font-size:14px;color:#fff;text-align:center;}
.ui_main .file_div .messge_text p{width:282px;max-width:100%;margin:0 auto;}
.ui_main .file_div .messge_text .p2{font-size:14px;margin-top:3px;}
.ui_main .file_div span.color{color:#e94e01;}



/* 中间背景图片适配 */
@media only screen and (min-width:320px){
	/* .ui_main .middle .p2{top:188px;} */
}
@media only screen and (min-width:360px){
	/* .ui_main .middle .p2{top:223px;} */
	/* .ui_main .middle{height:509px;} */
}
@media only screen and (min-width:378px){
	/* .ui_main .middle .p2{top:266px;} */
	/* .ui_main .middle{height:564px;} */
}
@media only screen and (min-width:500px){
	/* .ui_main .middle .p1{top:156px;} */
	/* .ui_main .middle .p2{top:302px;} */
	/* .ui_main .middle{height:665px;} */
}
@media only screen and (min-width:1000px){
	.ui_main .middle .p2 .p_text{max-width:100%;}
	.ui_main .top .top_img,.ui_main .bottom .bottom_img,.ui_main .file_div .hill{width:100%;}
	.ui_main .middle{height:1400px;background-size:810px auto;}
	.ui_main .middle .p1{font-size:26px;top:257px;line-height:35px;}
	.ui_main .middle .p2 .title{font-size:24px;}
	.ui_main .middle .p2{font-size:22px;top:592px;line-height:30px;}
}

/* 云彩动画 */
.ui_main .top .top_row{
	animation:row1_move 15s linear infinite;
	-webkit-animation:row1_move 15s linear infinite;
	-moz-animation:row1_move 15s linear infinite;
	-ms-animation:row1_move 15s linear infinite;
	-o-animation:row1_move 15s linear infinite;
	}
.ui_main .bottom .row2{
	animation:row2_move 15s linear infinite;
	-webkit-animation:row2_move 15s linear infinite;
	-moz-animation:row2_move 15s linear infinite;
	-ms-animation:row2_move 15s linear infinite;
	-o-animation:row2_move 15s linear infinite;
	}
.ui_main .bottom{
	animation:row3_move 15s linear 6s infinite;
	-webkit-animation:row3_move 15s linear 6s infinite;
	-moz-animation:row3_move 15s linear 6s infinite;
	-ms-animation:row3_move 15s linear 6s infinite;
	-o-animation:row3_move 15s linear 6s infinite;
	}

/* 1 */
@keyframes row1_move{
	0%{left:-20%;top:31%;}
	100%{left:120%;top:2%;}
}
@-webkit-keyframes row1_move{
	0%{left:-20%;top:31%;}
	100%{left:120%;top:2%;}
}
@-moz-keyframes row1_move{
	0%{left:-20%;top:31%;}
	100%{left:120%;top:2%;}
}
@-ms-keyframes row1_move{
	0%{left:-20%;top:31%;}
	100%{left:120%;top:2%;}
}
@-o-keyframes row1_move{
	0%{left:-20%;top:31%;}
	100%{left:120%;top:2%;}
}
/* 2 */
@keyframes row2_move{
	0%{left:-20%;}
	100%{left:120%;}
}
@-webkit-keyframes row2_move{
	0%{left:-20%;}
	100%{left:120%;}
}
@-moz-keyframes row2_move{
	0%{left:-20%;}
	100%{left:120%;}
}
@-ms-keyframes row2_move{
	0%{left:-20%;}
	100%{left:120%;}
}
@-o-keyframes row2_move{
	0%{left:-20%;}
	100%{left:120%;}
}
/* 3 */
@keyframes row3_move{
	0%{background-position:-40% 24px;}
	100%{background-position:140% 84px;}
}
@-webkit-keyframes row3_move{
	0%{background-position:-40% 24px;}
	100%{background-position:140% 84px;}
}
@-moz-keyframes row3_move{
	0%{background-position:-40% 24px;}
	100%{background-position:140% 84px;}
}
@-ms-keyframes row3_move{
	0%{background-position:-40% 24px;}
	100%{background-position:140% 84px;}
}
@-o-keyframes row3_move{
	0%{background-position:-40% 24px;}
	100%{background-position:140% 84px;}
}