body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:59px;
  top:30px;
  width:1220px;
  height:1100px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:1100px;
}
#u1 {
  position:absolute;
  left:2px;
  top:542px;
  width:1216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:150px;
  top:110px;
  width:220px;
  height:70px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:70px;
}
#u3 {
  position:absolute;
  left:2px;
  top:27px;
  width:216px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:60px;
  top:60px;
  width:1220px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:1203px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1220px;
  height:1px;
}
#u5 {
  position:absolute;
  left:380px;
  top:113px;
  width:60px;
  height:40px;
  font-size:18px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u6 {
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:1045px;
  top:110px;
  width:176px;
  height:69px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:69px;
}
#u8 {
  position:absolute;
  left:2px;
  top:26px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:870px;
  top:41px;
}
#u9_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u9_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:16px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:16px;
}
#u10_img.mouseOver {
}
#u10.mouseOver {
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:128px;
  top:0px;
  width:62px;
  height:16px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u12_img.mouseOver {
}
#u12.mouseOver {
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:197px;
  top:0px;
  width:62px;
  height:16px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u14_img.mouseOver {
}
#u14.mouseOver {
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:270px;
  top:0px;
  width:67px;
  height:16px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u16_img.mouseOver {
}
#u16.mouseOver {
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:183px;
  top:0px;
  width:11px;
  height:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u19 {
  position:absolute;
  left:2px;
  top:1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:259px;
  top:0px;
  width:11px;
  height:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u21 {
  position:absolute;
  left:2px;
  top:1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:526px;
  top:131px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:24px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:606px;
  top:131px;
  width:110px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:24px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:742px;
  top:131px;
  width:110px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:24px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:870px;
  top:131px;
  width:110px;
  height:24px;
  font-size:20px;
  color:#84C225;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:24px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:390px;
  top:153px;
  width:70px;
  height:20px;
  font-size:14px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:880px;
  top:165px;
  width:100px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:83px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:4px;
  width:100px;
  height:3px;
}
#u33 {
  position:absolute;
  left:59px;
  top:902px;
}
#u33_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u33_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:220px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:220px;
}
#u35 {
  position:absolute;
  left:2px;
  top:102px;
  width:1215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:84px;
  top:26px;
  width:1084px;
  height:156px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1084px;
  height:156px;
}
#u37 {
  position:absolute;
  left:2px;
  top:70px;
  width:1080px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:390px;
  top:173px;
  visibility:hidden;
}
#u38_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u38_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:130px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:130px;
}
#u40 {
  position:absolute;
  left:2px;
  top:57px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:19px;
  top:26px;
  width:51px;
  height:16px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:78px;
  top:26px;
  width:51px;
  height:16px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:142px;
  top:26px;
  width:51px;
  height:16px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:203px;
  top:26px;
  width:51px;
  height:16px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:262px;
  top:26px;
  width:51px;
  height:16px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:323px;
  top:26px;
  width:51px;
  height:16px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:384px;
  top:26px;
  width:51px;
  height:16px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:445px;
  top:26px;
  width:51px;
  height:16px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:19px;
  top:60px;
  width:51px;
  height:16px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:78px;
  top:60px;
  width:51px;
  height:16px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:142px;
  top:60px;
  width:51px;
  height:16px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:203px;
  top:60px;
  width:51px;
  height:16px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:262px;
  top:60px;
  width:51px;
  height:16px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:323px;
  top:60px;
  width:51px;
  height:16px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:384px;
  top:60px;
  width:51px;
  height:16px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:445px;
  top:60px;
  width:51px;
  height:16px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:19px;
  top:94px;
  width:51px;
  height:16px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:226px;
  top:240px;
}
#u75_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u75_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:995px;
  height:95px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:995px;
  height:95px;
}
#u77 {
  position:absolute;
  left:2px;
  top:40px;
  width:991px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:34px;
  top:30px;
  width:120px;
  height:50px;
  font-size:26px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u79 {
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:9px;
  top:93px;
  width:982px;
  height:387px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:982px;
  height:387px;
}
#u81 {
  position:absolute;
  left:2px;
  top:186px;
  width:978px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:164px;
  top:180px;
  width:130px;
  height:130px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u83 {
  position:absolute;
  left:2px;
  top:57px;
  width:126px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:312px;
  top:237px;
  width:412px;
  height:24px;
  font-size:20px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:24px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:362px;
  top:330px;
  width:112px;
  height:40px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u87 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:164px;
  top:47px;
}
#u88_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u88_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:29px;
  top:5px;
  width:10px;
  height:8px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u92 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:502px;
  top:330px;
  width:112px;
  height:40px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u94 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u75_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u75_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:995px;
  height:95px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:995px;
  height:95px;
}
#u96 {
  position:absolute;
  left:2px;
  top:40px;
  width:991px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:34px;
  top:30px;
  width:120px;
  height:50px;
  font-size:26px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u98 {
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:9px;
  top:93px;
  width:982px;
  height:537px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:982px;
  height:537px;
}
#u100 {
  position:absolute;
  left:2px;
  top:260px;
  width:978px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:180px;
  top:370px;
  width:130px;
  height:130px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u102 {
  position:absolute;
  left:2px;
  top:57px;
  width:126px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:34px;
  top:80px;
  width:936px;
  height:110px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:936px;
  height:110px;
}
#u104 {
  position:absolute;
  left:2px;
  top:47px;
  width:932px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:40px;
  top:254px;
  width:930px;
  height:10px;
}
#u105_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u105_end {
  position:absolute;
  left:913px;
  top:-5px;
  width:18px;
  height:20px;
}
#u105_line {
  position:absolute;
  left:0px;
  top:5px;
  width:930px;
  height:1px;
}
#u106 {
  position:absolute;
  left:164px;
  top:47px;
}
#u106_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u106_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:29px;
  top:5px;
  width:10px;
  height:8px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u110 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:48px;
  top:80px;
  width:212px;
  height:16px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:16px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:48px;
  top:99px;
  width:212px;
  height:16px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:48px;
  top:121px;
  width:212px;
  height:16px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:48px;
  top:141px;
  width:212px;
  height:16px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:16px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:48px;
  top:162px;
  width:212px;
  height:16px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:16px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:48px;
  top:183px;
  width:212px;
  height:16px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:16px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:48px;
  top:206px;
  width:212px;
  height:16px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:16px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:48px;
  top:232px;
  width:212px;
  height:16px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:16px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:376px;
  top:530px;
  width:112px;
  height:40px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u128 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:516px;
  top:530px;
  width:112px;
  height:40px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u130 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:330px;
  top:423px;
  width:412px;
  height:24px;
  font-size:20px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:24px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  word-wrap:break-word;
}
