@charset "UTF-8";
.login-main{
	margin-top:0px; /*haitao 20150920 0707 ----  15px*/
	background:#fff;
	padding:100px 0px;
}
.user-login-part{
	width:403px;
	display:inline;
}
.login-title-part{
	height:45px;
	line-height:45px;
	margin-bottom:35px;
}
.login-title-part .login-titel-text{
	font-size:30px;
	color:#99bf38;
	font-weight:bold;
}
.login-title-part .f-right{
	line-height:20px;
	margin-top:20px;
	font-size:14px;
}
.login-title-part a{
	color:#99bf38;
}
.login-item-box{}
.login-item{
	margin-bottom:15px;
}
.login-item label{
	width:100px;
	float:left;
	font-size:16px;
	color:#333;
	height:40px;
	line-height:40px;
}
.login-item .login-item-right{
	margin-left:80px;
}
.goods-adver-part{
	display:inline;
	width:552px;
	height:317px;
}
.goods-adver-part img{
	width:552px;
	height:317px;
}
.login-result-box{
	margin-top:100px;
}
.login-result-box p{
	margin-top:35px;
}
.login-result-box{
	font-size:20px;
	color:#111;
	text-align:center;
}
.login-result-box .common-ico{
	margin-right:10px;
	vertical-align:middle;
}