
h1,h2,h3,h4,h5,ul,li,dd,dl{margin:0;padding:0;font-weight:500;list-style-type:none;}
a{cursor:pointer;outline:none;}
html,body{margin:0;padding:0;}
*{}
html,body{font-size:15px;line-height:25px;font-family:microsoft yahei;background-color:#fdfbdb;color:#4d0255;}

/* top */
.body_div{position:relative;}
.body_div .hand_btn{background:url('img/hand.gif') no-repeat center center;background-size:contain;left:3%;right:0;margin:0 auto;position:absolute;top:35%;display:block;width:10%;height:15%;}
.body_div .lantern{background:url('img/lantern1.png') no-repeat center center;background-size:contain;left:7%;right:0;margin:0 auto;position:absolute;top:21%;display:block;width:36%;height:36%;}

.bottom{position:relative;margin-top:-46%;}
.bottom  .bg{position:absolute;top:0;left:0;right:0;bottom:0;}
.bottom  h4{font-size:20px;text-align:center;line-height:50px;position:absolute;top:14px;z-index:2;left:0;right:0;}
.bottom  p.tip{position:absolute;top:55px;z-index:2;left:7%;right:7%;}


/* 弹窗 */
.sbox_bg{display:none;position: absolute;bottom:0;top: 0%;left: 0%;width: 100%;background-color: black;  z-index:1001;  -moz-opacity: 0.7;  opacity:.70;  filter: alpha(opacity=70);}
.sbox{display:none;position: absolute;top: 25%;left: 2%;right:3%;width: 91%;height: 100%; padding: 8px;z-index:1002;margin:0 auto;}
.sbox .position{position:relative;width:100%;height:100%;}
.sbox img.bg{position:absolute;top:0;left:0;right:0;}
.sbox .top_btn2{display:none;}
.sbox .top_btn a.a_btn{position:absolute;top:-20px;right:13%;display:block;height:5%;width:10%;}
.sbox .top_btn2 a.a_btn{position:absolute;top:0;right:0;display:block;height:5%;width:10%;}

.sbox .bottom_btn{position:absolute;top:48%;left:0;right:0;text-align:center;}
.sbox .bottom_btn a.a_btn{display:inline-block;width:auto;height:auto;display:none;}
.sbox .bottom_btn a.a_btn.btn1{background:url('img/next_btn.png') no-repeat center center;background-size:contain;}
.sbox .bottom_btn a.a_btn.btn2{background:url('img/submit_btn.png') no-repeat center center;background-size:contain;}
.sbox .bottom_btn a.a_btn.btn3{background:url('img/login_btn.png') no-repeat center center;background-size:contain;}
.sbox .bottom_btn a.a_btn.btn4{background:url('img/focus_btn.png') no-repeat center center;background-size:contain;}
.sbox .Q1 .bottom_btn a.a_btn.btn1{display:inline-block;}
.sbox .Q2 .bottom_btn a.a_btn.btn2{display:inline-block;}
.sbox  .answer1 .bottom_btn a.a_btn.btn3{display:inline-block;}
.sbox  .answer2 .bottom_btn a.a_btn.btn4{display:inline-block;}

.sbox  .question{margin:5% 14% 0 14%;font-size:14px;}
.sbox  .question2{display:none;}
.sbox .Q2 .question2{display:block;}
.sbox  .question h4.title{line-height:20px;margin-bottom:5px;}
.sbox  .question ul.answer li{padding-left:10px;display:inline-block;cursor:pointer;width:100%;text-align:left;line-height:25px;}
.sbox  .question ul.answer li i{display:inline-block;vertical-align:sub;width:17px;height:17px;background:url('img/o.png') no-repeat center center;background-size:contain;}
.sbox  .question ul.answer.show  li.yes i{background:url('img/right.png') no-repeat center center;background-size:contain;}
.sbox  .question ul.answer.show  li.wrong i{background:url('img/wrong.png') no-repeat center center;background-size:contain;}
.sbox .Q1 .question2,.sbox .Q2 .question1{display:none;}

.sbox  .result1{display:none;margin:3% 18% 0 20%;font-size:14px;color:#014983;}
.sbox  .result1 h4.title{display:block;font-size:12px;border-bottom:1px dashed #778691;}
.sbox  .result1 span.font1{font-size:16px;color:#b32804;}
.sbox  .result1 span.font2{display:inline-block;padding:6px;font-size:16px;color:#b32804;background:url('img/span_bg.png') no-repeat center center;background-size:contain;}
.sbox  .result2{display:none;margin:3% 18% 0 20%;font-size:14px;color:#014983;text-align:center;}
.sbox  .result2 span.font1{font-size:19px;color:#b32804;}
.sbox  .result2 span.font2{display:inline-block;padding:6px;font-size:16px;color:#b32804;background:url('img/span_bg.png') no-repeat center center;background-size:contain;}
/*  */
.sbox  .answer1 .question,.sbox  .answer2 .question{display:none;}
.sbox  .answer1 .result1{display:block;}
.sbox  .answer2 .result1{display:none;}
.sbox  .answer2 .result2{display:block;}
/*  */
.sbox.answer3 div,.sbox.answer3 img{display:none;}
.sbox.answer3 {background:url('img/hongbao_box2.png') no-repeat top center;background-size:contain;}
.sbox.answer3 .top_btn2{display:block;}

@media only screen  and (min-width:330px) and (max-width:530px){
	.sbox{width:75%;}
	.sbox  .question{font-size:16px;}
}
@media only screen  and (min-width:530px) and (max-width:1024px){
	.sbox{width:50%;}
	.sbox  .question{margin:6% 17% 0 17%;font-size:18px;line-height:35px;}
}
/*  */
.body_div  .lantern{
	animation:swing 2s linear 0s infinite alternate ;
	-webkit-animation:swing 2s linear 0s infinite alternate ;
	-moz-animation:swing 2s linear 0s infinite alternate ;
	-ms-animation:swing 2s linear 0s infinite alternate ;
	-o-animation:swing 2s linear 0s infinite alternate ;
}
@keyframes swing {
	0% {
		transform:rotate3d(0, 0, 0.7, 5deg);transform-origin:center top;
	}
	100% {
		transform:rotate3d(0, 0, 0.7, -5deg);transform-origin:center top;
	}
}
@-webkit-keyframes swing {
	0% {
		-webkit-transform:rotate3d(0, 0, 0.7, 5deg);-webkit-transform-origin:center top;
	}
	100% {
		-webkit-transform:rotate3d(0, 0, 0.7, -5deg);-webkit-transform-origin:center top;
	}
}
@-moz-keyframes swing {
	0% {
		-moz-transform:rotate3d(0, 0, 0.7, 5deg);-moz-transform-origin:center top;
	}
	100% {
		-moz-transform:rotate3d(0, 0, 0.7, -5deg);-moz-transform-origin:center top;
	}
}
@-ms-keyframes swing {
	0% {
		-ms-transform:rotate3d(0, 0, 0.7, 5deg);-ms-transform-origin:center top;
	}
	100% {
		-ms-transform:rotate3d(0, 0, 0.7, -5deg);-ms-transform-origin:center top;
	}
}
@-o-keyframes swing {
	0% {
		-o-transform:rotate3d(0, 0, 0.7, 5deg);-o-transform-origin:center top;
	}
	100% {
		-o-transform:rotate3d(0, 0, 0.7, -5deg);-o-transform-origin:center top;
	}
}
/*  */
.body_div .hand_btn {
	animation:hand_in 1s linear 0s ;
	-webkit-animation:hand_in 1s linear 0s ;
	-moz-animation:hand_in 1s linear 0s ;
	-ms-animation:hand_in 1s linear 0s ;
	-o-animation:hand_in 1s linear 0s ;
}
@keyframes hand_in {
	0% {
		left:-300%;
		transform: rotate(0deg);
	}
	100% {
		left:3%;
		transform: rotate(1440deg);
	}
}
@-webkit-keyframes hand_in {
	0% {
		left:-300%;
		-webkit-transform: rotate(0deg);
	}
	100% {
		left:3%;
		-webkit-transform: rotate(1440deg);
	}
}
@-moz-keyframes hand_in {
	0% {
		left:-300%;
		-moz-transform: rotate(0deg);
	}
	100% {
		left:3%;
		-moz-transform: rotate(1440deg);
	}
}
@-ms-keyframes hand_in {
	0% {
		left:-300%;
		-ms-transform: rotate(0deg);
	}
	100% {
		left:3%;
		-ms-transform: rotate(1440deg);
	}
}
@-o-keyframes hand_in {
	0% {
		left:-300%;
		-o-transform: rotate(0deg);
	}
	100% {
		left:3%;
		-o-transform: rotate(1440deg);
	}
}

/*  */
.bottom {
	animation:text_bg_in 1s linear 0s;
	-webkit-animation:text_bg_in 1s linear 0s;
	-moz-animation:text_bg_in 1s linear 0s;
	-ms-animation:text_bg_in 1s linear 0s;
	-o-animation:text_bg_in 1s linear 0s;
}
@keyframes text_bg_in {
	0% {
		margin-top:0;
	}
	100% {
		margin-top:-46%;
	}
}
@-webkit-keyframes text_bg_in {
	0% {
		margin-top:0;
	}
	100% {
		margin-top:-46%;
	}
}
@-moz-keyframes text_bg_in {
	0% {
		margin-top:0;
	}
	100% {
		margin-top:-46%;
	}
}
@-ms-keyframes text_bg_in {
	0% {
		margin-top:0;
	}
	100% {
		margin-top:-46%;
	}
}
@-o-keyframes text_bg_in {
	0% {
		margin-top:0;
	}
	100% {
		margin-top:-46%;
	}
}

/*  */
.bottom p.tip{
	animation:flipInY 2s linear 0s;
	-webkit-animation:flipInY 2s linear 0s;
	-moz-animation:flipInY 2s linear 0s;
	-ms-animation:flipInY 2s linear 0s;
	-o-animation:flipInY 2s linear 0s;
}
@keyframes flipInY {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
	}
	40% {
		animation-timing-function: ease-in;
		transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
	}
	60% {
		opacity: 1;
		transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
	}
	80% {
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}
	100% {
		transform: perspective(400px);
	}
}
@-webkit-keyframes flipInY {
	0% {
		-webkit-animation-timing-function: ease-in;
		opacity: 0;
		-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
	}
	40% {
		-webkit-animation-timing-function: ease-in;
		-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
	}
	60% {
		opacity: 1;
		-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
	}
	80% {
		-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}
	100% {
		-webkit-transform: perspective(400px);
	}
}
@-moz-keyframes flipInY {
	0% {
		-moz-animation-timing-function: ease-in;
		opacity: 0;
		-moz-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
	}
	40% {
		-moz-animation-timing-function: ease-in;
		-moz-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
	}
	60% {
		opacity: 1;
		-moz-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
	}
	80% {
		-moz-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}
	100% {
		-moz-transform: perspective(400px);
	}
}
@-ms-keyframes flipInY {
	0% {
		-ms-animation-timing-function: ease-in;
		opacity: 0;
		-ms-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
	}
	40% {
		-ms-animation-timing-function: ease-in;
		-ms-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
	}
	60% {
		opacity: 1;
		-ms-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
	}
	80% {
		-ms-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}
	100% {
		-ms-transform: perspective(400px);
	}
}
@-o-keyframes flipInY {
	0% {
		-o-animation-timing-function: ease-in;
		opacity: 0;
		-o-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
	}
	40% {
		-o-animation-timing-function: ease-in;
		-o-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
	}
	60% {
		opacity: 1;
		-o-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
	}
	80% {
		-o-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}
	100% {
		-o-transform: perspective(400px);
	}
}
/*  */
.bottom h4{
	animation:bounceInLeft 3s linear 0s;
	-webkit-animation:bounceInLeft 3s linear 0s;
	-moz-animation:bounceInLeft 3s linear 0s;
	-ms-animation:bounceInLeft 3s linear 0s;
	-o-animation:bounceInLeft 3s linear 0s;
}
@keyframes bounceInLeft {
	0%, 60%, 75%, 90%, 100% {
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	0% {
		opacity: 0;
		transform: translate3d(-3000px, 0px, 0px);
	}
	60% {
		opacity: 1;
		transform: translate3d(25px, 0px, 0px);
	}
	75% {
		transform: translate3d(-10px, 0px, 0px);
	}
	90% {
		transform: translate3d(5px, 0px, 0px);
	}
	100% {
		transform: none;
	}
}
@-webkit-keyframes bounceInLeft {
	0%, 60%, 75%, 90%, 100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-3000px, 0px, 0px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(25px, 0px, 0px);
	}
	75% {
		-webkit-transform: translate3d(-10px, 0px, 0px);
	}
	90% {
		-webkit-transform: translate3d(5px, 0px, 0px);
	}
	100% {
		-webkit-transform: none;
	}
}
@-moz-keyframes bounceInLeft {
	0%, 60%, 75%, 90%, 100% {
		-moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	0% {
		opacity: 0;
		-moz-transform: translate3d(-3000px, 0px, 0px);
	}
	60% {
		opacity: 1;
		-moz-transform: translate3d(25px, 0px, 0px);
	}
	75% {
		-moz-transform: translate3d(-10px, 0px, 0px);
	}
	90% {
		-moz-transform: translate3d(5px, 0px, 0px);
	}
	100% {
		-moz-transform: none;
	}
}
@-ms-keyframes bounceInLeft {
	0%, 60%, 75%, 90%, 100% {
		-ms-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	0% {
		opacity: 0;
		-ms-transform: translate3d(-3000px, 0px, 0px);
	}
	60% {
		opacity: 1;
		-ms-transform: translate3d(25px, 0px, 0px);
	}
	75% {
		-ms-transform: translate3d(-10px, 0px, 0px);
	}
	90% {
		-ms-transform: translate3d(5px, 0px, 0px);
	}
	100% {
		-ms-transform: none;
	}
}
@-o-keyframes bounceInLeft {
	0%, 60%, 75%, 90%, 100% {
		-o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	0% {
		opacity: 0;
		-o-transform: translate3d(-3000px, 0px, 0px);
	}
	60% {
		opacity: 1;
		-o-transform: translate3d(25px, 0px, 0px);
	}
	75% {
		-o-transform: translate3d(-10px, 0px, 0px);
	}
	90% {
		-o-transform: translate3d(5px, 0px, 0px);
	}
	100% {
		-o-transform: none;
	}
}