@charset "UTF-8";
/*service-step*/
.service-step{
	background:#f4f5f5;
	padding:0px 0px 60px 0px;
}
.service-step .ptitle{
	font-size: 24px;
	color: #99bf38;
	text-align:center;
	margin-bottom: 40px;
}

.service-step .pdiv{
	width: 794px;
	height: 90px;
	margin: 10px auto;
}
.service-step .process{
	width: 100px;
	height: 66px;
	text-align: center;
	float:left;
}

.service-step .process span{
	display: block;
	margin: 0;
	margin-top: 0px;
	font-size: 14px;
	color: #2b3a42;
}
.service-step .pimg{
	display: block;
	width: 51px;
	height: 14px;
	float: left;
	margin:20px 40px 0px 40px;
}
.business-left{
	float: left;
	width: 368px;
	height: 565px;
	border: 1px solid #ccc;
	border-top: 5px solid #99bf38;
}
.business-left .b-logo-img{
	margin-top: 60px;
	margin-left: 55px;
}
.business-left .b-t-text,.business-left .b-t-text1{
	display: block;
	background: url(../images/business2.png) no-repeat center left;
	height: 32px;
	padding-left: 35px;
	line-height: 32px;
	font-size: 22px;
	color: #99bf38;
	margin-left: 80px;
	margin-top: 16px;
	letter-spacing: 1px;
}
.business-left .b-t-text1{
	background: url(../images/business9.png) no-repeat center left;
	color:#2b3a42;
	height:36px;
	line-height:36px;
}
.business-left .business-part{
	margin: 40px 9px 15px 9px;
	background: #dff0d8;
	height: 175px;
}
.business-left .business-part .business-logo{
	float:left;
	width:185px;
	height:175px;
}
.business-left .business-part .r-text{
	margin-left:185px;
	overflow:hidden;
}
.business-left .business-part .r-text p{
	text-align:center;
	margin-top:5px;
}
.business-left .business-part .r-text .common-btn{
	width:90px;
	transition:all ease-in-out 0.1s 0s;
}
.business-left .business-part .r-text a.common-btn:hover{

}
.business-left .business-part .r-text .a{
	font-size:14px;
	color:#2b3a42;
	margin:25px 0px 10px;
}
.business-left .business-part .r-text .b{
	font-size:20px;
	color:#2b3a42;
	margin-bottom:15px;
}
.business-middle{
	float:left;
	width: 450px;
	height: 572px;
	margin-left: 5px;	
	overflow:hidden;
}
.business-right{
	float:left;
	width: 370px;
	height: 572px;
	margin-left: 5px;	
	overflow:hidden;	
}
.business-part-item{
	overflow:hidden;
	margin-bottom:5px;
	height:283px;
}
.business-t{
	border:1px solid #ddd;
	height:254px;
	border-top:none;
	margin-bottom:12px;
}
.business-left-type{
	border:none;
	border-top:5px solid #99bf38;
}

