@charset "utf-8";

.progress-center{
	width: 720px;
	margin: 0 auto;
	height: 120px;
}

.progress-center .progress{
	float: left;
	height: 60px;
	text-align: center;
	width: 80px;
	margin-top: 40px;
}

.progress-center .progress span.a{
	display: block;
	color: #d0d0d0;
}
.progress-center .progress span.b{
	color: #99bf38;
}

.progress-center .p-img{
	display: block;
	float: left;
	margin-top: 53px;
}


.input-page{
	width: 1080px;
	height: 430px;
	margin: 0 auto;
	background: #ffffff;
	margin-bottom: 20px;
}

.input-page .title{
	font-size: 16px;
	color: #2b3a42;
	width: 180px;
	display: block;
	padding: 20px 0px 0px 200px;
}

.input-page .info{
	font-size: 18px;
	background: url(../images/center/findpwd8.png) no-repeat center left;
	height: 44px;
	line-height: 44px;
	display: block;
	padding-left: 56px;
	width: 260px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.input-page .info.a{
	background: url(../images/center/findpwd9.png) no-repeat center left;
	width: 400px;
	margin-left: 396px;
}
.input-page .info.b{
	background: url(../images/center/findpwd9.png) no-repeat center left;
	width: 310px;
	margin-top: 120px;
	margin-left: 400px;
}

.input-page .input{
	width: 430px;
	height: 50px;
	margin: 0 auto;
	line-height: 50px;
}
.input-page .input.a{
	margin-top: 20px;
	margin-bottom: 10px;
}

.input-page .input span{
	font-size: 16px;
	color: #2b3a42;
}

.input-page .input input{
	border: 1px solid #939393;
	height: 38px;
	line-height: 38px;
	width: 280px;
	border-radius: 5px;
	margin-left: 10px;
	font-size: 16px;
	padding-left: 15px;
}

.input-page .input .imgcode{
	float: right;
	margin-top: 6px;
	margin-right: 6px;
	width: 130px;
	border: 1px solid #ccc;
	border-radius: 3px;
	height: 36px;
	font-size: 16px;
	background: #dff0d8;
	color: #5e7e0c;
}

.input-page .input .codebtn{
	width: 110px;
	height: 28px;
	border: 1px solid #99bf38;
	border-radius: 5px;
	background: #dff0d8;
	color: #99bf38;
	margin-left: 125px;
}
.input-page .input .nocode{
	margin-left: 5px;
	font-size: 14px;
}
.input-page .nextbtn{
	width: 158px;
	height: 40px;
	display: block;
	margin-top: 40px;
	margin-left: 450px;
	font-size: 16px;
	color: #ffffff;
	background: #99bf38;
	border-radius: 5px;
}













