@charset "utf-8";


.center{
	position: relative;
	width:1080px;
	height:540px;
	margin:0 auto;
	margin-top:15px;
	margin-bottom:15px;
	background:#ffffff;
}

.leftreg{
	width: 410px;
	height: 317px;
	float: left;
	margin: 50px 0px 0px 50px;
}

.leftreg .title{
	width: 100%;
	height: 44px;
}

.leftreg .title h2{
	width: 100px;
	float: left;
}

.leftreg .title span{
	float: right;
	margin-right: 30px;
}

.leftreg .title span a{
	color: #99bf38;
}


.leftreg .input{
	height: 54px;
	line-height: 54px;
	float: left;
}

.leftreg .input span{
	position: relative;
	top: 3px;
	font-size: 18px;
	color:#2b3a42;
}
.leftreg .input input{
	border: 1px solid #ccc;
	border-radius: 3px;
	height: 36px;
	width: 280px;
	margin-left: 20px;
	padding-left: 10px;
	font-size: 16px;
}
.leftreg .input.code input{
	width: 140px;
}
.leftreg .codebtn{
	float: right;
	margin-top: 10px;
	margin-left:10px;
	width: 130px;
	border: 1px solid #ccc;
	border-radius: 3px;
	height: 36px;
	font-size: 16px;
	background:#dff0d8;
	color:#5e7e0c;
}


.leftreg .checkbox{
	margin-left: 95px;
	margin-top: 20px;
	width: 290px;
	height: 26px;
	float: left;
}
.leftreg .checkbox input{
	vertical-align: middle;
	width: 15px;
	height: 15px;
}
.leftreg .checkbox a{
	color: #99bf38;
}


.leftreg .regdiv{
	margin-left: 92px;
	margin-top: 15px;
	float: left;
}

.leftreg .regdiv input{
	width: 294px;
	height: 42px;
	background: #99bf38;
	font-size: 18px;
	color: #ffffff;
	border-radius: 5px;
}

.leftreg .noid{
	width: 130px;
	margin: 0 auto;
	margin-top: 15px;
	font-size: 14px;
}
.leftreg .noid a{
	color: #99bf38;
}

.leftreg .regdiv .regsuccess{
	font-size: 20px;
	display: block;
	background: url(../images/reg-success.png) no-repeat 0px 0px;
	margin-top: 110px;
	margin-bottom: 50px;
	height: 30px;
	line-height: 30px;
	padding-left: 36px;
	margin-left: 60px;
}


.rightad{
	float: right;
	width: 552px;
	margin: 100px 40px 0 0;
}

.rightad input{
position: absolute;
  top: 326px;
  right: 250px;
}






