body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1210px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:10px;
  width:1180px;
  height:570px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:570px;
}
#u1 {
  position:absolute;
  left:2px;
  top:277px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:55px;
  top:140px;
  width:165px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:161px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:55px;
  top:190px;
  width:165px;
  height:50px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:161px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:55px;
  top:240px;
  width:165px;
  height:50px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:161px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:55px;
  top:290px;
  width:165px;
  height:50px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:161px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:55px;
  top:340px;
  width:165px;
  height:50px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:161px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:55px;
  top:390px;
  width:165px;
  height:50px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:161px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:55px;
  top:440px;
  width:165px;
  height:50px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:161px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:55px;
  top:490px;
  width:165px;
  height:50px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:50px;
}
#u17 {
  position:absolute;
  left:2px;
  top:17px;
  width:161px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:30px;
  top:76px;
  width:1180px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:1163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1180px;
  height:1px;
}
#u19 {
  position:absolute;
  left:1016px;
  top:26px;
  width:121px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:1137px;
  top:26px;
  width:53px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:55px;
  top:18px;
  width:135px;
  height:58px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:58px;
}
#u24 {
  position:absolute;
  left:2px;
  top:21px;
  width:131px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:200px;
  top:33px;
  width:270px;
  height:28px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:28px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:1016px;
  top:52px;
  width:121px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:1147px;
  top:52px;
  width:43px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:250px;
  top:140px;
  width:950px;
  height:400px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:400px;
}
#u32 {
  position:absolute;
  left:2px;
  top:192px;
  width:946px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:340px;
  top:152px;
  width:200px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34 {
  position:absolute;
  left:566px;
  top:152px;
  width:50px;
  height:25px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u35 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:262px;
  top:187px;
  width:820px;
  height:118px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:150px;
  top:0px;
  width:163px;
  height:40px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u40 {
  position:absolute;
  left:2px;
  top:12px;
  width:159px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:313px;
  top:0px;
  width:166px;
  height:40px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:40px;
}
#u42 {
  position:absolute;
  left:2px;
  top:12px;
  width:162px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:479px;
  top:0px;
  width:153px;
  height:40px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
}
#u44 {
  position:absolute;
  left:2px;
  top:12px;
  width:149px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:632px;
  top:0px;
  width:183px;
  height:40px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:40px;
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:179px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:40px;
  width:150px;
  height:37px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:37px;
}
#u48 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:150px;
  top:40px;
  width:163px;
  height:37px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:37px;
}
#u50 {
  position:absolute;
  left:2px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:313px;
  top:40px;
  width:166px;
  height:37px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:37px;
}
#u52 {
  position:absolute;
  left:2px;
  top:10px;
  width:162px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:479px;
  top:40px;
  width:153px;
  height:37px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:37px;
}
#u54 {
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:632px;
  top:40px;
  width:183px;
  height:37px;
  color:#0000CC;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:37px;
}
#u56 {
  position:absolute;
  left:2px;
  top:10px;
  width:179px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:77px;
  width:150px;
  height:36px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u58 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:150px;
  top:77px;
  width:163px;
  height:36px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
}
#u60 {
  position:absolute;
  left:2px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:313px;
  top:77px;
  width:166px;
  height:36px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:36px;
}
#u62 {
  position:absolute;
  left:2px;
  top:10px;
  width:162px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:479px;
  top:77px;
  width:153px;
  height:36px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:36px;
}
#u64 {
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:632px;
  top:77px;
  width:183px;
  height:36px;
  color:#0000CC;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:36px;
}
#u66 {
  position:absolute;
  left:2px;
  top:10px;
  width:179px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:340px;
  top:370px;
  width:560px;
  height:50px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:50px;
}
#u68 {
  position:absolute;
  left:2px;
  top:17px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:65px;
  top:104px;
  width:225px;
  height:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:262px;
  top:156px;
  width:68px;
  height:16px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:626px;
  top:152px;
  width:50px;
  height:25px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u74 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
