body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:59px;
  top:30px;
  width:1220px;
  height:1890px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:1890px;
}
#u1 {
  position:absolute;
  left:2px;
  top:937px;
  width:1216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:150px;
  top:110px;
  width:220px;
  height:70px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:70px;
}
#u3 {
  position:absolute;
  left:2px;
  top:27px;
  width:216px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:60px;
  top:60px;
  width:1220px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:1203px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1220px;
  height:1px;
}
#u5 {
  position:absolute;
  left:951px;
  top:41px;
  width:62px;
  height:16px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:1001px;
  top:41px;
  width:62px;
  height:16px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1049px;
  top:110px;
  width:176px;
  height:69px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:69px;
}
#u10 {
  position:absolute;
  left:2px;
  top:26px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:60px;
  top:1690px;
  width:1219px;
  height:220px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:220px;
}
#u12 {
  position:absolute;
  left:2px;
  top:102px;
  width:1215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:144px;
  top:1716px;
  width:1084px;
  height:156px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1084px;
  height:156px;
}
#u14 {
  position:absolute;
  left:2px;
  top:70px;
  width:1080px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:1067px;
  top:41px;
  width:62px;
  height:16px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:1140px;
  top:41px;
  width:67px;
  height:16px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:1129px;
  top:41px;
  width:11px;
  height:18px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u20 {
  position:absolute;
  left:2px;
  top:1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:1056px;
  top:41px;
  width:11px;
  height:18px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u22 {
  position:absolute;
  left:2px;
  top:1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:1002px;
  top:41px;
  width:11px;
  height:18px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u24 {
  position:absolute;
  left:2px;
  top:1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:380px;
  top:113px;
  width:60px;
  height:40px;
  font-size:18px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u26 {
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:526px;
  top:131px;
  width:52px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:24px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:606px;
  top:131px;
  width:110px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:24px;
}
#u29_img.mouseOver {
}
#u29.mouseOver {
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:870px;
  top:131px;
  width:110px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:24px;
}
#u31_img.mouseOver {
}
#u31.mouseOver {
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:748px;
  top:165px;
  width:97px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:80px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:4px;
  width:97px;
  height:3px;
}
#u34 {
  position:absolute;
  left:742px;
  top:131px;
  width:110px;
  height:24px;
  font-size:20px;
  color:#84C225;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:24px;
}
#u34_img.mouseOver {
}
#u34.mouseOver {
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:117px;
  top:773px;
  width:1105px;
  height:227px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1105px;
  height:227px;
}
#u37 {
  position:absolute;
  left:2px;
  top:106px;
  width:1101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:60px;
  top:217px;
  width:1219px;
  height:541px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:541px;
}
#u39 {
  position:absolute;
  left:2px;
  top:262px;
  width:1215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:360px;
  top:680px;
  width:260px;
  height:50px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:50px;
}
#u41 {
  position:absolute;
  left:2px;
  top:17px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:177px;
  top:627px;
  width:160px;
  height:40px;
  font-size:20px;
  color:#FFFFFF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u43 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:440px;
  top:627px;
  width:160px;
  height:40px;
  font-size:20px;
  color:#FFFFFF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u45 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:180px;
  top:683px;
  width:160px;
  height:40px;
  font-size:20px;
  color:#000000;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u47 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:117px;
  top:1000px;
  width:1105px;
  height:166px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1105px;
  height:166px;
}
#u49 {
  position:absolute;
  left:2px;
  top:75px;
  width:1101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:117px;
  top:1166px;
  width:1105px;
  height:494px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1105px;
  height:494px;
}
#u51 {
  position:absolute;
  left:2px;
  top:239px;
  width:1101px;
  visibility:hidden;
  word-wrap:break-word;
}
